/* Donations CSS Cart */
.cart-container{
    position: sticky;
    top: 50px;
    left: 0px;
}
.cart-container .cart-title{
    text-transform: uppercase;
    font-weight: bold;
}
.cart-container h1{
    color: crimson;

}
.cart-info{
    font-weight: bold;
    color: black;
}
.donor-list{
    text-align: center;
    font-weight: bold;
    color: black;
}

.donor-list-info{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.donor-list-info img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.list-info{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}